<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.simlab.simiyu.playwithgooglesignin">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!--<meta-data-->
                <!--android:name="com.google.android.geo.API_KEY"-->
                <!--android:value="761287672800-p69l7negfn5sv4b6br7rreten3u5iomi.apps.googleusercontent.com"/>-->
        <!--<meta-data-->
                <!--android:name="com.google.android.gms.version"-->
                <!--android:value="@integer/google_play_services_version" />-->

        <activity
                android:name="com.simlab.simiyu.playwithgooglesignin.ChooserActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="com.simlab.simiyu.playwithgooglesignin.SignInActivity"
                android:label="@string/name_sign_in_activity"
                android:theme="@style/ThemeOverlay.MyNoTitleActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>


</manifest>